
<nav style="height: 7%;" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Li-Fi</a>

  <div class="ml-auto d-flex" [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      account_circle
    </mat-icon>
    <span> shivam</span>
    
      <mat-icon>keyboard_arrow_down</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <!-- <button type="button" mat-button (click)="drawer.toggle()"> Sidenav toggle</button> -->
</nav>

<!-- Side navigation -->
<div class="d-flex" style="height: 93%;">
  <aside class="sidenav">
    <a [routerLink]="['sleep']">Sleep</a>
    <a [routerLink]="['reading']">Reading</a>
  </aside>
    <!-- <mat-drawer-container class="example-container">
      <mat-drawer #drawer [mode]="over" class="example-sidenav d-flex flex-column" mode="side">
        <p>Auto-resizing sidenav</p>
        <div [routerLink]="['sleep']">Sleep</div>
        <div [routerLink]="['reading']">Reading</div>
      </mat-drawer>
    
    </mat-drawer-container> -->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
